.certification{
  .updata{
    padding: 22px 17px 0;
    margin-bottom: 17px;
    box-sizing: border-box;
    display: flex;
    .block{
      flex: 1;
      .tip{
        color: #50566A;
        font-size: 14px;
        line-height: 14px;
        text-align: center;
      }
      .img{
        width: 143px;
        height: 98px;
        margin: 16px auto 0;
      }
    }
  }
  .userinfo{
    .title{
      color: #50566A;
      font-size: 13px;
      line-height: 37px;
      padding-left: 14px;
    }
    .content{
      background-color: #FFFFFF;
      padding: 0 14px;
      .wrap{
        height: 45px;
        .left{
          width: 64px;
          color: #555555;
          font-size: 16px;
          font-weight: bold;
          line-height: 45px;
        }
        input{
          margin-left: 18px;
          color: #CDCDCD;
          font-size: 16px;
          border: none;
          line-height: 45px;
        }
        input:focus{
          outline: none;
          color: #555555
        }
        .checkbox{
          width: 16px;
          height: 16px;
          margin: 15px 8px 0 0;
          border: 1px solid #BCBCBC;
          background-color: #FFFFFF;
        }
        span{
          color: #333333;
          font-size: 15px;
          line-height: 45px;
        }
        .reset{
          width: 8px;
          height: 15px;
          margin-top: 17px;
        }
      }
    }
  }
  .border{border-bottom: 1px solid #DCDCDC;}
}
