.my{
  //头部样式
  .header{
    width: 100%;
    height: 112px;
    background-color: #232A3E;
    .header-title{
      height: 44px;
      .title-news{
        width: 20px;
        height: 20px;
        margin-right: 15px;
        margin-top: 12px;
        position: relative;
        .badge{
          position: absolute;
          right: -8px;
          top: -5px;
        }
      }
      .title-setting{
        width: 20px;
        height: 20px;
        margin-right: 25px;
        margin-top: 12px;
      }
    }
    .header-info{
      height: 68px;
      padding: 3px 15px 15px;
      box-sizing: border-box;
      .info-img{
        width: 50px;
        height: 50px;
        margin-right: 10px;
      }
      .info-detail{
        .name{
          color: #FFFFFF;
          font-size: 17px;
          line-height: 17px;
          margin-top: 5px;
        }
        .star{
          width: 16px;
          height: 16px;
          margin-top: 5px;
          margin-left: 6px;
        }
        .phone{
          color: #FFFFFF;
          font-size: 13px;
          line-height: 13px;
          margin-top: 9px;
        }
      }
      .info-more{
        width: 8px;
        height: 15px;
        margin: 18px 0;
      }
    }
  }
  //内容样式
  .content{
    .content-wrap{
      width: 100%;
      background-color: #FFFFFF;
      margin-bottom: 11px;
      .wrap{
        height: 50px;
        padding: 13px 15px 13px 20px;
        box-sizing: border-box;
        border-bottom: 1px solid #EFEFEF;
        color: #4B4C4F;
        font-size: 16px;
        line-height: 23px;
        .icon{
          width: 20px;
          height: 18px;
          margin-right: 14px;
          margin-top: 2px;
        }
        .nextpage{
          width: 8px;
          height: 15px;
          margin-top: 4px;
        }
      }
    }
  }
}
